---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import GridSection from '../components/GridSection.astro';
---

<Layout title="My gallery app">
	<main class="w-full flex flex-col items-center">
		<Header/>
		<GridSection/>
		<p class="w-full text-center mb-10 text-[#B9BDCF] font-bold">created by Alex Rodriguez - devChallenges.io</p>
	</main>
</Layout>


